body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.App {
	font-family: sans-serif;
	text-align: center;
	background-image: url('https://images.unsplash.com/photo-1505832018823-50331d70d237?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2164&q=80');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin: 0;
	padding: 11px 0 11px;
	background-color: darkgray;
	margin-top: 10px;
	opacity: 0.75;
	color: white;
}

.student-card {
	background: #fff;
	border-radius: 2px;
	display: flex;
	max-height: 250px;
	margin: 1rem;
	padding: 1rem;
	width: 400px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

img {
	width: 30%;
}

.class-list {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.delete-btn:hover {
	color: black;
	box-shadow: none;
	border-bottom: 1px black solid;
}

.delete-btn {
	padding: 0;
	background: white;
	color: darkgrey;
	border: none;
	border-radius: 0;
	margin-top: 0;
	min-width: 20px;
	vertical-align: middle;
	text-align: center;
	text-overflow: none;
	text-transform: uppercase;
	box-shadow: none;
	font-family: var(--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.student-info {
	text-align: start;
	padding-left: 24px;
}

form {
	display: flex;
	z-index: 10;
	position: relative;
	width: 400px;
	margin: 16px auto;
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
	align-items: center;
	background-color: #fff;
	padding: 1rem;
	flex-flow: column;
}

form > input {
	border: 0;
	padding: 12px 16px;
	margin: 8px;
	background: #fff;
	font-size: 1rem;
	width: 240px;
	border-radius: 0;
	outline: 0;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
}

button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 0 16px;
	margin-top: 16px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-family: var(--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

button::-moz-focus-inner {
	border: none;
}

/* Overlay */
button::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
button::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px; /* Safari */
	height: 32px; /* Safari */
	background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
button:hover,
button:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

button:hover::before {
	opacity: 0.08;
}

button:focus::before {
	opacity: 0.24;
}

button:hover:focus::before {
	opacity: 0.3;
}

/* Active */
button:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

button:active::after {
	opacity: 0.32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}
